**
!package.json
!package-lock.json
!.prettierrc.json
!tsconfig.json
!vite.config.ts
!vite.site.config.ts
!index.html
!src
!src/**
!extension
!extension/**
!scripts
!scripts/package-extension.mjs
!scripts/package-plugin.mjs
!scripts/zip.mjs
!plugins
!plugins/**
!site
!site/**
!site-docs
!site-docs/**
!public
!public/widget.js
!public/widget.css
!LICENSE
!NOTICE
!THIRD_PARTY_NOTICES.md
!Dockerfile
!Dockerfile.site
!ops
!ops/site.nginx.conf
