<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="Feedbacks SDK compile check" android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name=".SmokeActivity" android:exported="false" />
    </application>
</manifest>
